snippet sn:ve:mq Creates vanilla extract media query
	'@media': {
		[$1]: {
			$2 
		}
	},

snippet sn:ve:boolean Creates vanilla extract boolean variant
	$1: {
		true: {
			$2 
		},
		false: {
			$3 
			}
	},
